<h1><%= @restaurant.name %></h1>

<h4><%= @restaurant.category %></h4>

<h2>Address</h2>
<p><%= @restaurant.address %></p>

<h2>Phone Number</h2>
<p><%= @restaurant.phone_number %></p>

<p><%= link_to 'Back', restaurants_path %></p>
